<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet' / />
<link rel="stylesheet" href="css/styles.css">


<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>



  <body>

<div class="container-fluid">
<h1>
  Address Locator
</h1>

<form  style="padding:1rem;" action="/" method="post">

<label for="name" style="font-weight:bold;">Name :</label>

<input autocomplete="off" style="margin-left:6.1rem;" type="text" name="name"  placeholder="name">
<br>


<label for="address" style="font-weight:bold;">Enter your Address :</label>

<input  autocomplete="off" type="text" name="address"  placeholder="location">

<button style="text-align:center; display:block;  margin:auto;" class="btn btn-success"  type="submit"  name="button"><h6>Locate</h6></button>

</form>










<div   id='map' style='width: 400px; height: 400px; color:grey; font-weight:bold;'>

  <div id='geocoder' class='geocoder'></div>


  <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

  <script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic2FpYXNoaXNoIiwiYSI6ImNrMWNjYTE1NDBqbTEzY213amthOG13NTYifQ.CHQ3cTf77gEPuAhUAPhYDg';
  // var map = new mapboxgl.Map({
  // container: 'map',
  // style: 'mapbox://styles/mapbox/streets-v11',
  // center: [-79.4512, 43.6568],
  // zoom: 3
  // });
  //
  //
  //
  //

  //



  var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
  mapboxClient.geocoding.forwardGeocode({
  query: 'Wellington, New Zealand'  })
  .send()
  .then(function (response) {
  if (response && response.body && response.body.features && response.body.features.length) {
  var feature = response.body.features[0];

console.log(Array(feature.center));

  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: feature.center,
  zoom: 10
  });
  new mapboxgl.Marker()
  .setLngLat(feature.center)
  .addTo(map);
  }


    var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));


  map.addControl(new mapboxgl.GeolocateControl({
  positionOptions: {
  enableHighAccuracy: true
  },
  trackUserLocation: true
  }));
  });


  </script>
<!-- <script>

mapboxgl.accessToken = 'pk.eyJ1Ijoic2FpYXNoaXNoIiwiYSI6ImNrMWNjYTE1NDBqbTEzY213amthOG13NTYifQ.CHQ3cTf77gEPuAhUAPhYDg';


var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center:[77.22,28.68]
});

const el = document.createElement('div');
el.className = 'marker';

new mapboxgl.Marker({
  element: el,
  anchor: 'bottom'
})
  .setLngLat([77.22,28.68])
  .addTo(map);

new mapboxgl.Popup({
  offset: 30
})
  .setLngLat([77.22,28.68])
  .setHTML('Volunteer')
  .addTo(map);


</script> -->
</div>
</div>



  </body>
</html>
